.custom-select {
  position: relative;
  min-height: 80px;
  min-width: 100px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: transparent;
  border-radius: 10px;
  border: solid 3px var(--dark-accent);
}

.custom-select.active {
  border-color: var(--light-main);
}

.custom-select:hover {
  cursor: pointer;
}

.selected-option {
  color: var(--light-main);
  font-size: 1.5rem;
}

.select-arrow {
  font-size: 1.5rem;
  fill: var(--light-main);
}

.options {
  position: absolute;
  top: 110%;
  min-width: 100px;
  border-radius: 10px;

  overflow: hidden;
  border: solid 3px var(--dark-main);

  display: none;
  z-index: 10;
}

.options.shown {
  display: block;
}

.options.hidden {
  display: none;
}

.option {
  padding: 0.5em;
  background-color: var(--light-main);

  color: var(--dark-main);
  font-size: 1.25rem;
  overflow: hidden;
}

.option:hover {
  cursor: pointer;
  background-color: var(--dark-main);
  color: var(--light-main);
}

@media (min-width: 768px) and (max-width: 1439px) {
  .custom-select {
    min-height: 60px;
    min-width: 120px;
    padding: 0.5em 1em;
  }

  .selected-option,
  .select-arrow {
    font-size: 1.25rem;
  }

  .options {
    min-width: 120px;
  }

  .option {
    padding: 0.75em;
    font-size: 1.15rem;
  }
}

@media (max-width: 767px) {
  .custom-select {
    min-height: 60px;
    padding: 0.25em 0.5em;
  }

  .selected-option,
  .select-arrow {
    font-size: 1rem;
  }

  .options {
    width: 100%;
  }

  .option {
    padding: 0.75em;
    font-size: 0.85rem;
  }
}
