.header {
  width: 100%;
  padding: 1rem 3%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.name-filter {
  min-height: 80px;
  font-size: 2rem;
  border-radius: 10px;
  padding: 0.25em 0.5em;

  background-color: transparent;
  border: solid 3px var(--dark-accent);
  color: var(--light-main);
}

.name-filter:focus {
  outline: none;
  border-color: var(--light-main);
}
